<h1>Features</h1>

<table id="features" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scenarios</th>
    </tr>
  </thead>
  
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= link_to feature.name, '#' %></td>
        <td><%= feature.feature_elements_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>