<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Features</title>
    
    <style type="text/css" media="screen">
      body {
        background: #f0f0f0;
        font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
        font-size: 13px;
        line-height: 1.5em;
      }
      
      * {
        margin: 0;
        padding: 0;
      }
      
      a:link, a:visited {
        border-bottom: 1px solid #98c4d1;
        color: #359abe;
        text-decoration: none;
      }
      
      a:hover {
        border-bottom: 1px solid #c63;
        color: #c63;
      }
      
      #page {
        margin: 30px 200px 100px 50px;
        background: white;
        border-bottom: 3px solid #ccc;
        border-right: 3px solid #ddd;
        padding: 30px 50px 60px;
      }
      
      #page h1, #page h2, #page h3 {
        font-weight: normal;
      }
      
      #features {
        width: 100%;
        margin: 1em 0 3em;
      }

      #features th {
        text-align: left;
        background: #eee;
        border-bottom: 4px solid #ccc;
        padding: 5px 10px;
      }
      
      #features td {
        border-bottom: 1px solid #ccc;
        padding: 10px 10px;
      }
      
      .narrative {
        border: 1px solid #ddd;
        padding: 10px;
        color: #888;
        margin: 1em 0;
      }
      
      .scenario h3, .background h3 {
        margin: 0 0 1em;
      }
      
      .scenario, .background {
        border: 1px solid #ddd;
        margin: 1em 0;
        padding: 10px;
      }
      
      .scenario li, .background li {
        list-style: none;
      }
      
      .keyword {
        color: #DC7D11;
      }
    </style>
  </head>
  
  <body>
    <div id="page">
      <%= yield %>
    </div>
  </body>
</html>